*{
    margin:0px auto;
    padding:0px;
	list-style-type:none;
	font-family:"微软雅黑";
}
body{
    color:#444444;
    font-size:13px;
    background: #f2f2f2;
    font-family:"微软雅黑";
}

#wrapper{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width:600px;
	margin:40px auto;
    overflow:hidden;
}

#steps{
    width:600px;
	height:320px;
    overflow:hidden;
}

.step{
    float:left;
    width:600px;
	height:320px;
}

#navigation{
    height:45px;
    background-color:#e9e9e9;
    border-top:1px solid #fff;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

#navigation ul{
    list-style:none;
	float:left;
	margin-left:80px;
}

#navigation ul li{
	float:left;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    position:relative;
	margin:0px 1px;
}

#navigation ul li a{
    display:block;
	float:left;
    height:45px;
    background-color:#444;
    color:#777;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    line-height:45px;
    padding:0px 20px;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    background:#f0f0f0;
    background:
        -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.09, rgb(240,240,240)),
        color-stop(0.55, rgb(227,227,227)),
        color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
        center bottom,
        rgb(240,240,240) 9%,
        rgb(227,227,227) 55%,
        rgb(240,240,240) 78%
        )
}

#navigation ul li a:hover,
#navigation ul li.selected a{
    background:#d8d8d8;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}

span.checked{
    background:transparent url(../img/onFocus.gif) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

span.error{
    background:transparent url(../img/onError.gif) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

span.correct{
    background:transparent url(../img/onCorrect.gif) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}

#steps .step{
    border:none;
    padding-bottom:20px;
}

.panel-heading{
	background:#E9E9E9;
	color:#333;
	text-align:center;
	margin:0px auto;
	padding:0px;
	font-size:30px;
	letter-spacing:0.6em;
}

.panel-body{
	width:70%;
}

.lbtn{
	width:380px;
	letter-spacing:0.5em;
	font-size:16px;
}

.rcodeInfo{
	width:380px;
	color:#3F3F3F;
	font-size:16px;
	font-weight:normal;
	text-indent:2em;
	line-height:24px;
	height:24x;
	letter-spacing:0.2em;
}

.errorinfo{
	color:red;
}

.promptinfo{
	color:green;
	font-weight:normal;
	padding-top:6px;
	padding-left:3px;
}