

#photopic{
	width:90px;
	height:90px;
	border-radius:100px;
}

#welcome{
	margin-right:40px;
	float:right;
}

.navy_header{
	float:right;
	margin-right:20px;
}

.navy_header div,.navy_header img{
	float:left;
	margin-left:50px;
}

#head_exit{
	cursor:pointer;
}