<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>wowo</display-name>
  
  <filter>
    <filter-name>ChartEncoderFilter</filter-name>
    <filter-class>cn.tf.filters.ChartEncoderFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ChartEncoderFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>cn.tf.servlets.InitServlet</servlet-class>
    <init-param>
      <param-name>uploadPath</param-name>
      <param-value>../wowopath</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>